body{
  min-height: 54vw;
  display: block;
}

.left{
text-align: left;
}



}
p{
  text-align: left;
  margin-right: 3px;
  margin-left: 3px;
}
footer{
  background: #ffffff;
}

.overwrite {
  position: static;
  top: 8vw;
}

pre {
  width:76%;
  margin-left: 15%;
  font-size: 1em;
  -webkit-text-stroke: #66ff33;
  text-align: left;
  background: #262626;
  color: #66ff33;
}
span {
  color: #ff66ff;
}