body{
  min-height: 54vw;
  display: block;
}

.left{
text-align: left;
}



}
p{
  margin-right: 3px;
  margin-left: 3px;
}
footer{
  background: #ffffff;
}

.overwrite {
  position: static;
  top: 8vw;
}
