@font-face{
  font-family: "NordRegular";
  src: url("NordRegular.woff");
}
@font-face{
  font-family: "NordLight";
  src: url("NordLight.woff")
}
html{
  /*background-image: url("../img/baloons.jpg");*/
  background-size: cover;
  color: rgb(0,0,0) ,rgba(200,200,200,200);
  -webkit-text-stroke: 0.05em #000000;
  text-shadow: 0.05em #000000;
  font-family: "NordRegular";
  font-size: small;
}
a {
  text-decoration: blink ;
  color: #ffcc00;
  -webkit-text-stroke: 0.02em #000000;
  font-size: 1.25em;

}
a:active{
  color: #00ccff;
}
a:hover{
  color: #66ccff;
}
header{
  font-family: "NordRegular";
  opacity: 2;
  text-align: center;
  font-size: 3em;
  padding-top: 5vh;
}
nav{
  align-items: center;
  border-top: solid;
}
body{
  background: #ffffe5;
  opacity: 0.75;
  height: 100vh;
  margin-top: 0;
  margin-left: 17%;
  margin-right: 17%;
  margin-bottom: 0;
}
article{
  background: #ffffe5;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 2em;
}
p{
  opacity: 2;
  font-size: medium;
  font-weight: 0.5em;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}


table{
  align-items: center;
  width: 100%;
  table-layout: initial;
  padding-left: 5%;
  list-style-type: none;
}
tbody{
  border-bottom-width: 0.5em;
  width: 15%;
}
ul{
  text-align: center;
  list-style-type: none;
  margin-bottom: 0px;
}
footer{

  border-top: solid;
  font-size: 0.75em;
  padding-bottom: 1em;
}
footer a img:hover {
 -webkit-filter: invert(.8);
  filter: invert(.8);
}


.box{
  border: solid;
  border-width: 2px;
  border-style: solid;

}
.overwrite1 {

  position: relative;
  top: 27vw;
}

.f-alighn{

  font-size: x-small;
  height: 1em;
  width: inherit;
  padding-left: 0;
  padding-right: 0;

}
.subtext{
  font-size: 1.5em;
  width: 25%;
}